.dayInfo {
	  width: 100%;
	  min-height: 75px;
      position: relative;
	  background: rgba(164, 164, 164, 1);
	  margin-top: 5px;
	  border-radius: 4px;
	  padding: 10px;
	  transition: all 2s ease-in;
	
}


.dayInfo .selectedDayArrow{
	  position: absolute;
	  top: -5px;
	  left: 20.786%;
	  margin-left: -2px;
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 5px 5px 5px;
	  border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
	  transition: all 0.7s ease;
}

.dayInfo .indicator{
	display: inline-block;
	width: 5px;
	height: 5px;
	background: yellow;
	margin-right: 1px;
	transition: all 2s ease-in;
}

.dayTimesWrapper{
	margin: 0 auto;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.dayInfo .dayInfoTime{
	padding: 2px;;
	margin: 2px;;
	cursor: pointer;
	background: #bebebe;
	width: 48%;
	text-align: center;
	font-weight: 100;
	color: #424242;
}

.dayInfo .dayInfoTime:hover{
	background: #424242;
	color: #fff;
}

.dayInfo span{
	margin-right: 2px;
}