.modal{
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgb(0, 0, 0, 0.8);
   z-index: 1000;
   opacity: 0;
   transition: 0.5s ease;
   pointer-events: none;
   display: flex;
   justify-content: center;
   align-items: center;
}

.active {
   opacity: 1;
   pointer-events: all;
}

.modal-container{
   width: 100%;
   max-width: 420px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   background: #e4e4e4;
   border-radius: 5px;
}

.modal-content{
   padding: 30px 10px;
   transform: scale(0.9);
   transition: 0.5s ease-in-out;
}

.modal-content-active{
   transform: scale(1);
}

.modal .close{
   position: absolute;
   top: 1px;
   right: 1px;
   padding: 3px 6px;;
   background-color: red;
   border-radius: 5px;
   cursor: pointer;
}

.flex-wrapper{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}


